.calculator{
    border: 1px solid #000;
    border-radius: 5px;
    position: absolute;
    top: 5%;
    left: 400px;
    background-color: #000;
    width: 400px;
    cursor: pointer;
    

}

.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 20px;
    cursor: pointer;
}

.calculator-screen {
    width: 98.5%;
    height: 130px;
    text-align: right;
    font-size: 4rem;
    background-color: #000;
    color: #fff;
    border: 5px;
}

button {
    height: 70px;
    border-radius: 70px;
    border: 1px; 
    font-size: 2rem;
    background-color: #333333;
    color: #ffffff;
    cursor: pointer;

}

.firstRowThreeColumns{
    background-color: #A5A5A5;
    color: #000;
}

.fourthColumn{
    background-color: #f89212;
    color: #ffffff;
}

.zero-button {
    grid-area: 5/3/5/1;
    padding-right: 80px;
}